Y3/T1/Software Architecture and Scalability for Internet-of-Things/smart-warehouse/flows/autoflow.json
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "Flow 1"
  },

  {
    "id": "httpin_sensor",
    "type": "http in",
    "z": "flow1",
    "name": "POST /sensor",
    "url": "/sensor",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "wires": [["json_parse"]],
    "x": 140,
    "y": 120
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "flow1",
    "name": "parse JSON",
    "pretty": false,
    "wires": [["fn_threshold","dbg_in"]],
    "x": 330,
    "y": 120
  },
  {
    "id": "fn_threshold",
    "type": "function",
    "z": "flow1",
    "name": "threshold check",
    "func": "// Ensure numeric level\nconst lvl = Number(msg.payload && msg.payload.stock_level);\nmsg.computedLevel = lvl;\nmsg.lowStock = Number.isFinite(lvl) && (lvl < 10);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "libs": [],
    "wires": [["sw_low"]],
    "x": 520,
    "y": 120
  },
  {
    "id": "sw_low",
    "type": "switch",
    "z": "flow1",
    "name": "lowStock?",
    "property": "lowStock",
    "propertyType": "msg",
    "rules": [{"t":"true"},{"t":"false"}],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "wires": [["chg_headers","fn_trim"],["tmpl_no"]],
    "x": 700,
    "y": 120
  },
  {
    "id": "chg_headers",
    "type": "change",
    "z": "flow1",
    "name": "set JSON header",
    "rules": [{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\"}","tot":"json"}],
    "wires": [["fn_trim"]],
    "x": 920,
    "y": 80
  },
  {
    "id": "fn_trim",
    "type": "function",
    "z": "flow1",
    "name": "payload {item_id,stock,ts}",
    "func": "const { item_id, stock_level, ts } = msg.payload || {};\nmsg.payload = { item_id, stock_level, ts };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "libs": [],
    "wires": [["http_upd","tmpl_needed"]],
    "x": 940,
    "y": 120
  },
  {
    "id": "http_upd",
    "type": "http request",
    "z": "flow1",
    "name": "POST /update (inventory)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:3000/update",
    "persist": false,
    "authType": "",
    "wires": [["dbg_upd"]],
    "x": 1210,
    "y": 120
  },
  {
    "id": "tmpl_needed",
    "type": "template",
    "z": "flow1",
    "name": "respond (reorder=needed)",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "mustache",
    "template": "{\"status\":\"ok\",\"reorder\":\"needed\"}",
    "output": "str",
    "wires": [["http_out"]],
    "x": 990,
    "y": 180
  },
  {
    "id": "tmpl_no",
    "type": "template",
    "z": "flow1",
    "name": "respond (no reorder)",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "mustache",
    "template": "{\"status\":\"ok\",\"reorder\":\"no\"}",
    "output": "str",
    "wires": [["http_out"]],
    "x": 930,
    "y": 240
  },
  {
    "id": "http_out",
    "type": "http response",
    "z": "flow1",
    "name": "",
    "statusCode": "",
    "headers": {},
    "wires": [],
    "x": 1200,
    "y": 210
  },
  {
    "id": "dbg_in",
    "type": "debug",
    "z": "flow1",
    "name": "see incoming msg",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "targetType": "full",
    "wires": [],
    "x": 540,
    "y": 60
  },
  {
    "id": "dbg_upd",
    "type": "debug",
    "z": "flow1",
    "name": "inventory update response",
    "active": true,
    "tosidebar": true,
    "complete": "true",
    "targetType": "full",
    "wires": [],
    "x": 1450,
    "y": 120
  }
]
